.container{
    display: flex; 
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 20px;
    background-color: #222;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
  }