.container-header {
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    color: white;

}

.menu {
    display: flex;
    list-style: none;
    font-size: 22px;
    text-transform: capitalize;
}

.menu li {
    padding: 0px 20px;
}

.menu li a {
    color: #00ff00;
    cursor: pointer;
}

.menu li a:hover {
    color: #fff;
}
.logo img{
    width: 60px;
    height: 60px;
}