/* hero section style */

.hero_title_name{
    
}

.hero_section {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.hero_section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}

.col_hero_info h1 {
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
    
    letter-spacing: 2.2px;
    text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
}

.col_hero_info span {
    font-size: 30px;
    color: var(--color-secondary);
}

.col_hero_info p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1.3em;
    letter-spacing: 1.6px;
}
.col_hero_img {
    display: flex;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    .hero_section .row {
        flex-direction: column;
        align-items: center;
    }
    
    .col_hero_info h1 {
        font-size: 8vw;
    }
    
    .col_hero_info span {
        font-size: 14px;
    }
    
    .col_hero_info p {
        font-size: 12px;
    }
}