*{
  margin: 0px;
  padding: 0px;
}
body {
    font-family: var(--font-family);
    background-color: var(--color-black);
    line-height: 1.6;
  }
  

  .container-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
  }

  .container {
    flex-basis: calc(33.33% - 20px); /* Distribuir igualmente em três colunas com margem */
    padding: 20px;
    background-color: #222;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
  }

  h1 {
    color: #00ff00;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  p {
    color: #ddd;
    line-height: 1.6;
  }

  /* Media query para dispositivos com largura de tela até 768px */
@media (max-width: 768px) {
    header {
      font-size: 1.2rem;
    }

    .container-wrapper{
      display: flex;
      flex-direction: column;

    h1 {
      font-size: 1rem;
    }
  }
}